style.css * {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: url("1.jpg");
}
.custom-center {
  text-align: center;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #4ab9f9;
  position: flex;
  bottom: 0;
  width: 100%;
}
/* Nav Bar */
nav {
  display: flex;
  background-color: cornflowerblue;
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 50px;
  align-items: center;
  color: rgb(3, 0, 183);
}
nav .logo {
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(3, 0, 183);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 900;
}

nav ul li a:hover {
  color: white;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -8px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: rgb(3, 0, 183);
  border-radius: 3px;
  transition: all 0.5s;
}

.container {
  max-width: 100%;
  margin: 20px auto;
  background-color: rgba(100, 148, 237, 0.851);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  box-sizing: border-box;
}

.join-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #27ae60;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px auto;
  display: block;
}

.join-btn:hover {
  background-color: #218c54;
}
/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  /* background-color: red; */
  transform: rotate(45deg) translate(2px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  /* background-color: red; */
  transform: rotate(-45deg) translate(1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  /* background-color: red; */
  transform: scale(0);
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50px;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
    z-index: 0;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
